@charset "UTF-8";
/***********************************
チャット風レイアウト
************************************/
/*画像右側のチャット*/
/* line 6, /Users/sho/Desktop/tech_camp/project/negait/app/assets/stylesheets/chat.scss */
.my-chat-box {
  width: 100%;
  height: auto;
  overflow: hidden;
  margin-bottom: 20px;
}

/* line 13, /Users/sho/Desktop/tech_camp/project/negait/app/assets/stylesheets/chat.scss */
.my-chat-face {
  float: right;
  margin-left: -120px;
}

/* line 17, /Users/sho/Desktop/tech_camp/project/negait/app/assets/stylesheets/chat.scss */
.my-chat-face img {
  width: 60px;
  height: 60px;
  border-radius: 20px;
  border: 1px solid #ccc;
  box-shadow: 0 0 4px #ddd;
}
@media (min-width: 768px) {
  /* line 17, /Users/sho/Desktop/tech_camp/project/negait/app/assets/stylesheets/chat.scss */
  .my-chat-face img {
    width: 90px;
    height: 90px;
    border-radius: 30px;
  }
}

/* line 29, /Users/sho/Desktop/tech_camp/project/negait/app/assets/stylesheets/chat.scss */
.my-chat-area {
  width: 100%;
  float: left;
}

/* line 33, /Users/sho/Desktop/tech_camp/project/negait/app/assets/stylesheets/chat.scss */
.my-chat-hukidashi {
  z-index: -10;
  display: inline-block;
  padding: 15px 20px;
  margin-right: 80px;
  margin-top: 6px;
  border-radius: 6px;
  position: relative;
  background-color: #BCF5A9;
  float: right;
}
@media (min-width: 768px) {
  /* line 33, /Users/sho/Desktop/tech_camp/project/negait/app/assets/stylesheets/chat.scss */
  .my-chat-hukidashi {
    margin-right: 120px;
    margin-top: 8px;
    border-radius: 10px;
  }
}

/* line 50, /Users/sho/Desktop/tech_camp/project/negait/app/assets/stylesheets/chat.scss */
.my-chat-hukidashi p {
  margin-bottom: 0px;
}

/*画像左側のチャット*/
/* line 55, /Users/sho/Desktop/tech_camp/project/negait/app/assets/stylesheets/chat.scss */
.other-chat-box {
  width: 100%;
  height: auto;
  overflow: hidden;
  margin-bottom: 20px;
}

/* line 61, /Users/sho/Desktop/tech_camp/project/negait/app/assets/stylesheets/chat.scss */
.other-chat-face {
  float: left;
  margin-right: -120px;
}

/* line 65, /Users/sho/Desktop/tech_camp/project/negait/app/assets/stylesheets/chat.scss */
.other-chat-face img {
  width: 60px;
  height: 60px;
  border-radius: 20px;
  border: 1px solid #ccc;
  box-shadow: 0 0 4px #ddd;
}
@media (min-width: 768px) {
  /* line 65, /Users/sho/Desktop/tech_camp/project/negait/app/assets/stylesheets/chat.scss */
  .other-chat-face img {
    width: 90px;
    height: 90px;
    border-radius: 30px;
  }
}

/* line 77, /Users/sho/Desktop/tech_camp/project/negait/app/assets/stylesheets/chat.scss */
.other-chat-area {
  width: 100%;
  float: right;
}

/* line 81, /Users/sho/Desktop/tech_camp/project/negait/app/assets/stylesheets/chat.scss */
.other-chat-hukidashi {
  z-index: -10;
  display: inline-block;
  padding: 15px 20px;
  margin-left: 80px;
  margin-top: 6px;
  border-radius: 6px;
  position: relative;
  background-color: #D9F0FF;
}
@media (min-width: 768px) {
  /* line 81, /Users/sho/Desktop/tech_camp/project/negait/app/assets/stylesheets/chat.scss */
  .other-chat-hukidashi {
    margin-left: 120px;
    margin-top: 8px;
    border-radius: 10px;
  }
}

/* line 96, /Users/sho/Desktop/tech_camp/project/negait/app/assets/stylesheets/chat.scss */
.other-chat-hukidashi p {
  margin-bottom: 0px;
}

/*三角部分*/
/*
.chat-hukidashi:after {
    content: "";
    position: absolute;
    top: 35px; left: -10px;
    margin-top: -10px;
    display: block;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 10px 10px 10px 0;
    border-color: transparent #D9F0FF transparent transparent;
}
*/
/*三角部分*/
/*
.chat-hukidashi2:after {
    content: "";
    position: absolute;
    top: 35px; right: -20px;
    margin-top: -10px;
    display: block;
    width: 0px;
    height: 0px;
    border-style: solid;
   border-width: 10px 10px 10px 10px;
    border-color: transparent transparent transparent #BCF5A9;
 }
 */
/* line 131, /Users/sho/Desktop/tech_camp/project/negait/app/assets/stylesheets/chat.scss */
.talk-ajax {
  width: 80%;
  margin: auto;
}
@charset "UTF-8";
/* line 7, /Users/sho/Desktop/tech_camp/project/negait/app/assets/stylesheets/common.scss */
.margin {
  height: 30px;
}

/* line 11, /Users/sho/Desktop/tech_camp/project/negait/app/assets/stylesheets/common.scss */
h2 {
  margin-left: 10%;
}

/* line 15, /Users/sho/Desktop/tech_camp/project/negait/app/assets/stylesheets/common.scss */
body {
  margin-top: 110px;
  font-family: "lucida grande",tahoma,verdana,arial, "hiragino kaku gothic pro",meiryo,"ms pgothic",sans-serif;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 20px;
  background-color: #F5F5F5;
  color: #383838;
  font-size: 14px;
}
@media (min-width: 768px) {
  /* line 15, /Users/sho/Desktop/tech_camp/project/negait/app/assets/stylesheets/common.scss */
  body {
    font-size: 20px;
  }
}

/* ヘッダー */
/* line 34, /Users/sho/Desktop/tech_camp/project/negait/app/assets/stylesheets/common.scss */
header {
  top: 0;
  left: 0;
  width: 100%;
  background-color: white;
  position: fixed;
  height: 74px;
  background-color: #79D1B0;
  z-index: 1;
}

/* ヘッダーA: サイト名 */
/* line 48, /Users/sho/Desktop/tech_camp/project/negait/app/assets/stylesheets/common.scss */
.headA {
  padding-left: 10px;
}
@media (min-width: 400px) {
  /* line 48, /Users/sho/Desktop/tech_camp/project/negait/app/assets/stylesheets/common.scss */
  .headA {
    padding-left: 20px;
  }
}

/* ヘッダーB： ナビゲーションメニュー */
/* line 56, /Users/sho/Desktop/tech_camp/project/negait/app/assets/stylesheets/common.scss */
.headB ul {
  margin: auto;
  padding-right: 20px;
  list-style: none;
}

/* line 62, /Users/sho/Desktop/tech_camp/project/negait/app/assets/stylesheets/common.scss */
.headB a {
  display: block;
  padding: 15px;
  color: inherit;
  text-decoration: none;
}
@media (max-width: 368px) {
  /* line 62, /Users/sho/Desktop/tech_camp/project/negait/app/assets/stylesheets/common.scss */
  .headB a {
    padding-left: 0px;
    padding-right: 10px;
  }
}

/* line 73, /Users/sho/Desktop/tech_camp/project/negait/app/assets/stylesheets/common.scss */
.headB a:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

/* line 77, /Users/sho/Desktop/tech_camp/project/negait/app/assets/stylesheets/common.scss */
.header-line {
  background: linear-gradient(135deg, #32f071 0%, #50b1ed 52%, #4f68e9 100%);
  margin-top: 0px;
  width: 100%;
  height: 10px;
}

/* line 85, /Users/sho/Desktop/tech_camp/project/negait/app/assets/stylesheets/common.scss */
header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1000px;
  max-width: var(--large-width);
  margin-left: auto;
  margin-right: auto;
}

/* line 95, /Users/sho/Desktop/tech_camp/project/negait/app/assets/stylesheets/common.scss */
.headB ul {
  display: flex;
}

/* line 101, /Users/sho/Desktop/tech_camp/project/negait/app/assets/stylesheets/common.scss */
.button {
  border-radius: 2px;
  background-color: #93B8CA !important;
  border: 0;
  padding: 5px 5px;
  font-weight: bold;
  color: #fff;
}
/* line 108, /Users/sho/Desktop/tech_camp/project/negait/app/assets/stylesheets/common.scss */
.button:hover {
  background-color: #9dbfcf !important;
}

/* line 115, /Users/sho/Desktop/tech_camp/project/negait/app/assets/stylesheets/common.scss */
.post-block {
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
  width: 80%;
  padding: 3%;
  background-color: white;
  margin: auto;
  align: center;
}

/* line 125, /Users/sho/Desktop/tech_camp/project/negait/app/assets/stylesheets/common.scss */
.finished {
  background-color: #DCDCDC;
}

/* line 129, /Users/sho/Desktop/tech_camp/project/negait/app/assets/stylesheets/common.scss */
.completed {
  background-color: #FAFAD2;
}

/*セレクトボックス*/
/* line 134, /Users/sho/Desktop/tech_camp/project/negait/app/assets/stylesheets/common.scss */
.select-box01 select {
  padding: 10px;
  padding-right: 30px;
  margin-bottom: 10px;
  margin-top: 10px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 1px solid #999;
  background: #eee;
  background: url(arrow01.png) right 50% no-repeat, -webkit-linear-gradient(top, #fff 0%, #efebe1 100%);
  background: url(arrow01.png) right 50% no-repeat, linear-gradient(to bottom, #fff 0%, #efebe1 100%);
  background-size: 20px, 100%;
}

/* line 149, /Users/sho/Desktop/tech_camp/project/negait/app/assets/stylesheets/common.scss */
.company {
  font-size: 10px;
  color: #708090;
}
@media (min-width: 768px) {
  /* line 149, /Users/sho/Desktop/tech_camp/project/negait/app/assets/stylesheets/common.scss */
  .company {
    font-size: 16px;
  }
}

/* line 158, /Users/sho/Desktop/tech_camp/project/negait/app/assets/stylesheets/common.scss */
.support {
  font-size: 10px;
}
@media (min-width: 768px) {
  /* line 158, /Users/sho/Desktop/tech_camp/project/negait/app/assets/stylesheets/common.scss */
  .support {
    font-size: 16px;
  }
}
.landing_top {
  padding: 10em 0;
  background: linear-gradient(120deg, #7bc6cc, #be93c5);;
}

.landing_title {
  span {
    position: relative;
    color: rgba(#000, .2);
    &::after {
      position: absolute;
      top: 0;
      left: 0;
      content: attr(data-text);
      color: #fff;
      opacity: 0;
      transform: scale(1.5);
      animation: landing_title 3s infinite;
    }
    @for $i from 1 through 6 {
      &:nth-child(#{$i+1})::after {
        animation-delay: #{$i*.1}s;
      }
    }
  }
}
@keyframes landing_title {
  0%, 75%, 100% {
    transform: scale(1.5);
    opacity: 0;
  }
  25%, 50% {
    transform: scale(1);
    opacity: 1;
  }
}
/* line 1, /Users/sho/Desktop/tech_camp/project/negait/app/assets/stylesheets/login.scss */
.register-box {
  margin: auto;
  padding-top: 20px;
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  width: 250px;
  height: 200px;
}
@media (min-width: 400px) {
  /* line 1, /Users/sho/Desktop/tech_camp/project/negait/app/assets/stylesheets/login.scss */
  .register-box {
    width: 300px;
    height: 250px;
  }
}
@media (min-width: 680px) {
  /* line 1, /Users/sho/Desktop/tech_camp/project/negait/app/assets/stylesheets/login.scss */
  .register-box {
    width: 455px;
    height: 351px;
  }
}
/* line 16, /Users/sho/Desktop/tech_camp/project/negait/app/assets/stylesheets/login.scss */
.register-box .field {
  padding-top: 10px;
}

/* line 21, /Users/sho/Desktop/tech_camp/project/negait/app/assets/stylesheets/login.scss */
.login-background {
  top: -110px;
  overflow: auto;
  align: center;
  margin: 0 -500%;
  padding: 0 500%;
  width: 100%;
  height: 100%;
  padding-top: 120px;
  padding-bottom: 150px;
  background-position: center;
  background-image: url(/assets/login-image-e66c04ee863c90db605ad9a6fffed2a5dbfece54b53f731dff6421ae7a112821.jpg);
  background-size: auto;
  position: relative;
}

/* line 37, /Users/sho/Desktop/tech_camp/project/negait/app/assets/stylesheets/login.scss */
.login-box {
  margin: auto;
  padding-top: 20px;
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  width: 250px;
  height: 200px;
}
@media (min-width: 400px) {
  /* line 37, /Users/sho/Desktop/tech_camp/project/negait/app/assets/stylesheets/login.scss */
  .login-box {
    width: 300px;
    height: 250px;
  }
}
@media (min-width: 680px) {
  /* line 37, /Users/sho/Desktop/tech_camp/project/negait/app/assets/stylesheets/login.scss */
  .login-box {
    width: 455px;
    height: 351px;
  }
}
/* line 52, /Users/sho/Desktop/tech_camp/project/negait/app/assets/stylesheets/login.scss */
.login-box .field {
  padding-top: 10px;
}

/* line 57, /Users/sho/Desktop/tech_camp/project/negait/app/assets/stylesheets/login.scss */
.forget-box {
  margin: auto;
  padding-top: 20px;
  background-color: white;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
  text-align: center;
  width: 250px;
  height: 200px;
}
@media (min-width: 400px) {
  /* line 57, /Users/sho/Desktop/tech_camp/project/negait/app/assets/stylesheets/login.scss */
  .forget-box {
    width: 300px;
    height: 250px;
  }
}
@media (min-width: 680px) {
  /* line 57, /Users/sho/Desktop/tech_camp/project/negait/app/assets/stylesheets/login.scss */
  .forget-box {
    width: 455px;
    height: 351px;
  }
}
/* line 73, /Users/sho/Desktop/tech_camp/project/negait/app/assets/stylesheets/login.scss */
.forget-box .field {
  padding-top: 10px;
}
/* line 8, /Users/sho/Desktop/tech_camp/project/negait/app/assets/stylesheets/posts.scss */
.post-content {
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
  width: 80%;
  padding: 3%;
  background-color: white;
  margin: auto;
}

/* line 17, /Users/sho/Desktop/tech_camp/project/negait/app/assets/stylesheets/posts.scss */
.post-new {
  margin-top: 140px;
  margin-left: 20px;
  margin-right: 20px;
  padding-left: 5%;
  padding-right: 5%;
  background-color: #FFFFFF;
  padding-top: 20px;
  padding-bottom: 20px;
  box-shadow: 0px 0px 1px 0px #5f5876;
}

/* line 36, /Users/sho/Desktop/tech_camp/project/negait/app/assets/stylesheets/posts.scss */
.post-move {
  width: 70%;
  margin: auto;
}

/* line 41, /Users/sho/Desktop/tech_camp/project/negait/app/assets/stylesheets/posts.scss */
#canvas {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
/* line 5, /Users/sho/Desktop/tech_camp/project/negait/app/assets/stylesheets/top.scss */
.search {
  margin-left: 10%;
}

/* line 9, /Users/sho/Desktop/tech_camp/project/negait/app/assets/stylesheets/top.scss */
.btn-search {
  margin: 10px;
}

/* line 13, /Users/sho/Desktop/tech_camp/project/negait/app/assets/stylesheets/top.scss */
.bosyu {
  font-size: 10px;
  display: inline-block;
  _display: inline;
}
@media (min-width: 420px) {
  /* line 13, /Users/sho/Desktop/tech_camp/project/negait/app/assets/stylesheets/top.scss */
  .bosyu {
    font-size: 10px;
  }
}
@charset "UTF-8";
/* line 10, /Users/sho/Desktop/tech_camp/project/negait/app/assets/stylesheets/users.scss */
.post-cell a {
  color: #ff0000;
}

/* line 15, /Users/sho/Desktop/tech_camp/project/negait/app/assets/stylesheets/users.scss */
.tab-menu {
  width: 100%;
  padding-bottom: 3%;
  padding-top: 3%;
}
/* line 20, /Users/sho/Desktop/tech_camp/project/negait/app/assets/stylesheets/users.scss */
.tab-menu ul {
  /* .tab-menuの中のulに対する記述 */
  margin: auto;
  padding: 0;
}
@media (max-width: 500px) {
  /* line 20, /Users/sho/Desktop/tech_camp/project/negait/app/assets/stylesheets/users.scss */
  .tab-menu ul {
    position: fixed;
    margin: 0 -500%;
    padding: 0 500%;
    bottom: -0.7%;
    width: 100%;
    background-color: #79D1B0;
  }
}
/* line 34, /Users/sho/Desktop/tech_camp/project/negait/app/assets/stylesheets/users.scss */
.tab-menu li {
  /* .tab-menuの中のli */
  cursor: pointer;
  text-align: center;
  display: inline-block;
  height: 22px;
  width: 49%;
}
@media (max-width: 501px) {
  /* line 34, /Users/sho/Desktop/tech_camp/project/negait/app/assets/stylesheets/users.scss */
  .tab-menu li {
    height: 22px;
    width: 49%;
    margin-left: -4%;
  }
}
@media (min-width: 768px) {
  /* line 34, /Users/sho/Desktop/tech_camp/project/negait/app/assets/stylesheets/users.scss */
  .tab-menu li {
    height: 22px;
    width: 49%;
  }
}
/* line 57, /Users/sho/Desktop/tech_camp/project/negait/app/assets/stylesheets/users.scss */
.tab-menu li .change {
  background-color: #FFFFFF;
}
/* line 60, /Users/sho/Desktop/tech_camp/project/negait/app/assets/stylesheets/users.scss */
.tab-menu li .change.selected {
  /* .tab-menuの中のliの内、.selectedが与えられているものに対する記述 */
  background-color: #BFBFBF;
}
/* line 66, /Users/sho/Desktop/tech_camp/project/negait/app/assets/stylesheets/users.scss */
.tab-menu img {
  width: 100px;
  height: 100px;
}
@media (min-width: 501px) {
  /* line 66, /Users/sho/Desktop/tech_camp/project/negait/app/assets/stylesheets/users.scss */
  .tab-menu img {
    width: 160px;
    height: 160px;
  }
}
@media (min-width: 768px) {
  /* line 66, /Users/sho/Desktop/tech_camp/project/negait/app/assets/stylesheets/users.scss */
  .tab-menu img {
    width: 210px;
    height: 210px;
  }
}

/* line 80, /Users/sho/Desktop/tech_camp/project/negait/app/assets/stylesheets/users.scss */
.center-block {
  width: 80%;
  padding: 3%;
  margin: auto;
}
@media (max-width: 501px) {
  /* line 80, /Users/sho/Desktop/tech_camp/project/negait/app/assets/stylesheets/users.scss */
  .center-block {
    width: 100%;
    padding-bottom: 100px;
  }
}

/* line 93, /Users/sho/Desktop/tech_camp/project/negait/app/assets/stylesheets/users.scss */
.contents .switch-right {
  /* .contentsの中の.rightに対する記述 */
  display: none;
  /* 最初、右のコンテンツは非表示にする */
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *


 */

