<% url = "/users/" + current_user.id.to_s + "/posts/#{@post.id}" %>
<%= form_tag(url, method: :patch ) do %>
  <h3>
    編集する
  </h3>
  <textarea cols="30" name="detail" placeholder="text" rows="10">

  </textarea>
  <div class="push_button">
  <input type="submit" value="SENT">
  </div>
<% end %>