<div class="post-block">
  <!-- 折り畳み展開ポインタ -->
  <div>
  <%= link_to support.post.title, :controller => "posts", :action => "show", user_id: support.user_id, id: support.post.id %>
  </div>
  <!--// 折り畳み展開ポインタ -->


 <% if support.post.completed == 1 %>
  <div>
    Complete!
  </div>
 <% elsif date_judge(support.post.created_at, 14)[:timeend] == 1 %>
  <div>
    期限切れ
  </div>
  <%else%>
  <div>
    残り <%=date_judge(support.post.created_at, 14)[:date]%>
  </div>
  <%end%>

  <% if support.post.completed == 0 and date_judge(support.post.created_at, 14)[:timeend] == 0%>
    <% if support.supporter_notification == 1 %>
      <div class="post-cell">
    <% else %>
      <div>
    <% end %>
        <%= link_to "トークに進む" , user_path(support.user_id)  + '/posts/' +  support.post_id.to_s + '/supports/' + support.id.to_s + '/talks' %>
      <!--&nbsp;&nbsp; 協力を消す-->
    </div>
  <% end %>
</div>
<div class="margin"></div>
