body,html {
  height: 100%;
  background-color: #F8F8FF;
}

header {
  top: 0px;
  height: 10%;
  width: 100%; 
  background-color: #FFFFFF;
  position: fixed;

  .logo {
    margin: auto;
    padding-left: 30px;
  }
}


