// Place all the styles related to the talks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/***********************************
チャット風レイアウト
************************************/
/*画像右側のチャット*/
.my-chat-box{
    width: 100%;
    height: auto;
    overflow: hidden;
    margin-bottom: 20px;

}
.my-chat-face {
    float: right;
    margin-left: -120px;
}
.my-chat-face img{
    width: 60px;
    height: 60px;
    border-radius: 20px;
    @media (min-width: 768px) {
        width: 90px;
        height: 90px;
        border-radius: 30px;
    }
    border: 1px solid #ccc;
    box-shadow: 0 0 4px #ddd;
}
.my-chat-area {
    width: 100%;
    float: left;
}
.my-chat-hukidashi {
    z-index: -10;
    display: inline-block;
    padding: 15px 20px;
    margin-right: 80px;
    margin-top: 6px;
    border-radius: 6px;
    @media (min-width: 768px) {
        margin-right: 120px;
        margin-top: 8px;
        border-radius: 10px;
    }

    position: relative;
    background-color: #BCF5A9;
    float: right;
}
.my-chat-hukidashi p{
    margin-bottom: 0px;
}

/*画像左側のチャット*/
.other-chat-box {
    width: 100%;
    height: auto;
    overflow: hidden;
    margin-bottom: 20px;
}
.other-chat-face {
    float: left;
    margin-right: -120px;
}
.other-chat-face img{
    width: 60px;
    height: 60px;
    border-radius: 20px;
    @media (min-width: 768px) {
        width: 90px;
        height: 90px;
        border-radius: 30px;
    }
    border: 1px solid #ccc;
    box-shadow: 0 0 4px #ddd;
}
.other-chat-area {
    width: 100%;
    float: right;
}
.other-chat-hukidashi {
    z-index: -10;
    display: inline-block;
    padding: 15px 20px;
    margin-left: 80px;
    margin-top: 6px;
    border-radius: 6px;
    @media (min-width: 768px) {
        margin-left: 120px;
        margin-top: 8px;
        border-radius: 10px;
    }
    position: relative;
    background-color: #D9F0FF;
}
.other-chat-hukidashi p{
    margin-bottom: 0px;
}
/*三角部分*/
/*
.chat-hukidashi:after {
    content: "";
    position: absolute;
    top: 35px; left: -10px;
    margin-top: -10px;
    display: block;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 10px 10px 10px 0;
    border-color: transparent #D9F0FF transparent transparent;
}
*/

/*三角部分*/
/*
.chat-hukidashi2:after {
    content: "";
    position: absolute;
    top: 35px; right: -20px;
    margin-top: -10px;
    display: block;
    width: 0px;
    height: 0px;
    border-style: solid;
   border-width: 10px 10px 10px 10px;
    border-color: transparent transparent transparent #BCF5A9;
 }
 */

 .talk-ajax{
    width: 80%;
    margin: auto;
 }

 .talk-textbox{
    border:0;
    padding: 10px;
    border:solid 1px #ccc;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    margin:0 0 20px;
    width: 70%;
    @media (max-width: 370px) {
    width: 60%;
    }
    @media (min-width: 768px) {
    width: 400px;
    }
    height: 40px;
    float: left;
 }

.talk-post{
    width: 70%;
    margin: auto;
}

$button: #93B8CA;
 .talk-button {
  border-radius: 2px;
  background-color: $button !important;
  border: 0;
  padding: 5px 5px;
  font-weight: bold;
  color: #fff;
  text-align: center;
  width: 20%;
  @media (min-width: 768px) {
    width: 100px;
    }
  &:hover {
    background-color: lighten($button, 3%) !important;
  }
}

.talk-field{
    padding-top: 50px;
}

.talk-person{
    margin-top: -36px;
    margin-left: -20px;
    margin-right: -20px;
    text-align: center;
    font-size: 20px;
    height: 40px;
    @media (min-width: 600px) {
        font-size: 24px;
    }
    background-color: rgba(150,150,150,0.3);
    padding-top: 10px;




}