// Place all the styles related to the top controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.search{
  margin-left: 10%;
}

.btn-search{
  margin: 10px;
}

.bosyu{
 font-size: 10px;
 @media (min-width: 420px) {
    font-size: 10px;
  }
 display: inline-block;
 _display: inline;
}
