// Place all the styles related to the top controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.search{
  margin-left: 10%;
}

.btn-search{
  margin: 10px;
}

.tab-menu {
  width: 100%;
  padding-bottom: 3%;
  padding-top: 3%;

  ul { /* .tab-menuの中のulに対する記述 */
    margin: 0;
    padding: 0;
  }

  li { /* .tab-menuの中のli */

    height: 22px;
    padding: 10px 10px 5px;
    cursor: pointer;
    border-radius: 10px;
    font-size: 14px;
    color: #fff;
    text-align: center;
    // background: url(/assets/help.png);
    // list-style-image: url('./assets/images/help.png');

    display: inline-block;
    width: 46%;

    .change{
      background-color: #FFFFFF;

      &.selected {/* .tab-menuの中のliの内、.selectedが与えられているものに対する記述 */
      background-color: #C7F8E9;
      }
    }
  }
}



.contents {

  .switch-right { /* .contentsの中の.rightに対する記述 */
    display: none; /* 最初、右のコンテンツは非表示にする */
  }
}